@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  color: #000000;
  font-family: "Inter", sans-serif;
}

.dark body {
  color: #ffffff;
}

.nextra-nav-container-blur {
  box-shadow: none;
}

.nextra-sidebar-footer {
  background: #ffffff;
  box-shadow: none !important;
}

.dark .nextra-sidebar-footer {
  background: #141518;
}

:root {
  --nextra-border-color: #e5e7eb;
}

.dark {
  --nextra-border-color: #3f3f46;
}

.nextra-nav-container,
.nextra-sidebar,
.nextra-content {
  border-color: var(--nextra-border-color);
}

footer {
  background: #ffffff !important;
}

.dark footer {
  background: #141518 !important;
}
