@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  background: "#fff";
  font-family: "Inter", sans-serif;
}

.dark body {
  background: #141518;
}
/* 
.dark body a:hover, .dark body button:hover{
  color: #0D9488!important;
} */