name: Test

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "examples/react-demo/**"
      - "examples/react-dapp/**"
      - "examples/react-signer/**"
      - "packages/identitykit/**"
      - "landing/**"
      - "docker-for-e2e/**"
  pull_request:
    types:
      - opened
      - synchronize

env:
  IMAGE_NAME: identitykit

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout repo.
        uses: actions/checkout@v6

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Cache Node Modules
        uses: actions/cache@v5
        with:
          path: |
            **/node_modules
            **/.eslintcache
          key: npm

      - name: Install dependencies
        run: npm install --frozen-lockfile

      - name: Lint
        run: npm run lint:check

      - name: Check Formatting
        run: npm run format:check

      - name: Build
        run: npm run build-ci

      - name: Test
        run: npm run test

  e2e-tests:
    name: E2E Test
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo.
        uses: actions/checkout@v6

      - name: Docker build
        run: |
          pushd ./docker-for-e2e

          docker build . \
            --build-arg USER_ID=$(id -u) \
            --build-arg GROUP_ID=$(id -g) \
            --file Dockerfile \
            --tag identitykit-test:latest \
            --label "runnumber=${GITHUB_RUN_ID}"

          TEST_ADD_PARAMS=""

          echo "CI_DEBUG=${CI_DEBUG}" >> $GITHUB_ENV
          echo "TEST_ADD_PARAMS="${TEST_ADD_PARAMS}"" >> $GITHUB_ENV

      - name: Cache Node Modules
        uses: actions/cache@v5
        with:
          path: |
            **/node_modules
            **/.eslintcache
          key: npm

      - name: Run tests
        env:
          CI_DEBUG: true
        run: |
          docker run --rm \
            -v $(pwd):/home/user/workdir \
            -e CI_DEBUG="${CI_DEBUG}" \
            identitykit-test:latest \
            "${TEST_ADD_PARAMS}"
